# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

example

# Android Studio / IntelliJ
.idea/
*.iml

# Native generated folders
/android
/ios

# Environment
.env*.local

# TypeScript
*.tsbuildinfo

# macOS
.DS_Store

# Project notes
prj_habit_context_v1.md